@import 'tailwindcss';

@plugin "@iconify/tailwind4" {
  prefixes: fluent;
}

@font-face {
  font-family: 'Fira Code VF';
  src:
    url('assets/FiraCode-VF.woff2') format('woff2-variations'),
    url('assets/FiraCode-VF.woff') format('woff-variations');
  font-weight: 300 700;
  font-style: normal;
}
@theme {
  --font-mono: 'Fira Code VF', monospace;
  --shadow-inner-xl: inset 0 4px 6px -1px rgba(0, 0, 0, 0.1), inset 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
